.state_contour {
    fill: none;
    stroke: black;
    stroke-linejoin: round;
}

.state:hover{
    fill: #7B7D7D;
    opacity: .7;
}

body {
    font-family: 'Open Sans', 'Arial', sans-serif; }
  
#main {
    text-align: center;
    width: 1080px; 
}
  
#chart-title {
    font-family: 'Roboto Slab', 'Georgia', serif; 
    text-align: center;
}

#chart-description {
    text-align: center;
}
  
.d3-tip {
    line-height: 1;
    padding: 12px;
    background: rgba(43,43,43, 0.8);
    color: #fff;
    border-radius: 2px;
}

#navbar-header-text {
    color: rgb(221, 219, 219);
    margin-left: 10px;
    font-size: 15pt;
}

.legendLinear {
    
}